<!DOCTYPE html>
<html>
  <head>
    <title>Scrolling Images Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename=trolling.css') }}" type="text/css" />
  </head>
  <body>
    <div class="image-container">
   <img src="{{ url_for('static',filename='scrolltroll.png') }}" class="scrolling-image" />
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>   
    <p>Scroll troll.....</p>
    <script src="{{ url_for('static', filename='scrolling.js') }}">
    </script>
  </body>
</html>

